parameters:
    bootstrapFiles:
        - qa-bootstrap.php
#    excludes_analyse:
#        - app/Views/*
#        - system/ThirdParty/*
    ignoreErrors:
        - '#Unsafe usage of new static\(\)*#'
    scanDirectories:
      - vendor/codeigniter4/codeigniter4/system/Helpers
    dynamicConstantNames:
        - ENVIRONMENT
        - CI_DEBUG